@import "Variables.scss";

%title {
  width: 100%;
  padding-top: 4rem;
  font-size: 4rem;
  font-family: $narnia;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.4;
  color: $off-black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include media(m) {
    font-size: 6rem;
  }
}

%richtext {
  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid $off-black;
    transition: 400ms ease-in-out all;

    &:hover {
      color: $pink;
      border-color: $pink;
    }
  }

  p {
    &:not(:first-of-type) {
      margin-top: 1.8rem;
    }

    &:not(:last-of-type) {
      margin-bottom: 1.8rem;
    }
  }

  ul {
    margin-top: 1.8rem;
  }
}
