@font-face {
  font-family: "Moon Dream";
  src: url("../Assets/Fonts/MoonDream.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("../Assets/Fonts/apercu-mono-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Aften Screen Bold";
  src: url("../Assets/Fonts/Aften Screen Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Aften Screen";
  src: url("../Assets/Fonts/Aften Screen.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: "Narnia";
  src: url("../Assets/Fonts/Narnia.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}
