$breakpoints: (
  s: 532px,
  m: 768px,
);

$beige: #fff4da;
$off-black: #2a2b31;
$off-black: #023c40;
$pink: #ffdae5;
$dark-pink: #ff7c91;
$purple: #dac0f4;
$dark-purple: #bb9fd7;

$body: "Aften Screen", sans-serif;
$bold: "Aften Screen Bold", sans-serif;
$narnia: "Narnia", sans-serif;
$moon-dream: "Moon Dream", sans-serif;
