@import "../../Styles/Includes.scss";

.Main {
  height: 100vh;
  height: -webkit-fill-available;
  width: 100%;
  position: relative;

  &__Inner {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: $purple;
    background-image: url("../../Assets/Images/purple-pattern.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
  }

  &__PreTitle {
    margin-bottom: 1rem;
    font-family: $moon-dream;
    font-size: calc(12.54545px + 0.45455vw);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 1;
    color: $off-black;

    @include media(m) {
      margin-bottom: 1.6rem;
    }
  }

  &__Title {
    margin: 0;
    font-family: $narnia;
    font-size: 8rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 1;
    color: $beige;

    @include media(s) {
      font-size: 12rem;
    }

    @include media(m) {
      font-size: 14vw;
    }
  }

  &__Text {
    margin-top: -1rem;
    font-family: $moon-dream;
    font-size: calc(15.09091px + 0.90909vw);
    line-height: 1.2;
    text-transform: uppercase;
    color: $off-black;

    @include media(s) {
      margin-top: -1.4rem;
    }

    @include media(m) {
      margin-top: -2.4vw;
      font-size: 2.8vw;
    }
  }
}
