@import "../../Styles/Includes.scss";

.Navigation {
  &__Button {
    margin: 0;
    padding: 1.6rem 2rem 2rem 2.4rem;
    border: 0;
    background-color: $purple;
    border-bottom-left-radius: 4rem;
    position: fixed;
    right: 0;
    z-index: 9;
    transition: 400ms ease-in-out background-color;

    &:hover {
      @include media(m) {
        background-color: $dark-pink;
      }
    }
  }

  &__Line {
    width: 4rem;
    height: 0.4rem;
    background-color: $beige;
    display: block;
    margin: 0.6rem auto;
    transition: all 300ms ease-in-out;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(3) {
      margin-bottom: 0;
    }

    .Navigation--IsExpanded & {
      &:nth-child(1) {
        transform: translateY(1rem);
      }
      &:nth-child(3) {
        transform: translateY(-1rem);
      }
    }
  }

  &__Navigation {
    width: 100%;
    height: 100%;
    background-color: $beige;
    border-bottom-left-radius: 8rem;
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: 1;
    visibility: hidden;
    transition: right 300ms ease-in-out, visibility 300ms ease-in-out;

    .Navigation--IsExpanded & {
      top: 0;
      right: 0;
      visibility: visible;
    }
  }

  &__Menu {
    padding: 2rem;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  &__Link {
    font-family: $narnia;
    font-size: 4rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1;
    color: $purple;
    display: inline-block;
    border: 0;
    background-color: transparent;
    transition: 400ms ease-in-out all;

    @include media(m) {
      margin: 0 2.4rem;
      padding: 0.5rem 0rem;
      font-size: 8rem;
    }

    &:hover {
      color: $dark-pink;
      cursor: pointer;
    }
  }
}
